@{
    ViewBag.Title = "Resouce Not Found";
}

<div class="alert alert-danger mt-2">
    <h1>An occured whiile processing, the support team notified and we are working on to fix</h1>
    <hr />
    <h5>Please contact administator buinan93@gmail.com</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning" style="width:auto">
    Click here to navigate home page
</a>